__pycache__/
*.pyc
.ipynb_checkpoints/

*.log
*.zip
*.tar
*.tar.gz
*.rar
*.7z

checkpoints/
weights/
*.pth
*.pt
*.ckpt
*.onnx
*.engine
*.trt

results/
outputs/
runs/
wandb/

Resources_released/
Resources_Released.zip
Exp1_Baseline.zip
TUT.zip
results.tar.gz

datasets/Crack500/
datasets/CrackMap/
datasets/DeepCrack/
datasets/TUT/
datasets/__pycache__/

untitled*
Untitled Folder/
project_files.txt
protocol_files.txt
protocol_search.txt
tut_new_log.txt
Qiang jiu.py
单卡加策略的数据/

DeepCrack_Final_Loss_Curve_150ep.png
TUT_Final_Loss_Curve.png

.DS_Store
